<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta name='x-apple-disable-message-reformatting' />
    <meta name='color-scheme' content='light dark' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <title>Invitación a unirse al Área de Trabajo</title>
    <style>
        body {
            font-family: Arial, sans-serif !important;
            background-color: #f4f4f4 !important;
            color: #333 !important;
            padding: 20px !important;
        }

        .container {
            max-width: 600px !important;
            margin: 0 auto !important;
            background-color: #ffffff !important;
            padding: 20px !important;
            border-radius: 8px !important;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
        }

        .button {
            display: inline-block !important;
            padding: 10px 20px !important;
            background-color: #007bff !important;
            color: #ffffff !important;
            text-decoration: none !important;
            border-radius: 4px !important;
        }

        .button:hover {
            background-color: #0056b3 !important;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>¡Hola, {{name}}!</h2>
        <p>{{userName}} te ha invitado a unirte a su espacio de trabajo <strong>{{workspaceName}}</strong>.</p>
        <p>Para unirte, simplemente haz clic en el siguiente enlace.</p>
        <a href="{{link}}" class="button">Unirme al Área de Trabajo</a>
        <p>Este enlace expirará en 2 días, así que asegúrate de utilizarlo pronto.</p>
        <p>¡Te veo pronto! </p>
    </div>
</body>

</html>